body
	align-items center
	background-color #f6f6f6
	display flex
	font-size 14px
	justify-content center
	margin 0px
	min-height 100vh
	
.mtop16
	margin-top 16px
	
.box	
	//color de la barra de la imagen
	background-color #fff
	border-radius 8px
	border 1px solid #d6d6d6
	position absolute
	width 500px
	
	.header
		background-color #ffc300
		border-radius 8px 8px 0px 0px
		padding 16px
		a
			img 
				display block
				margin 0px auto
				width 30%
	.inside
			padding 18px
	
	.btn-success
		background-color #02c9c9
		border 0px 
		width 100%
						
.box_login
		left calc(50% - 250px)
		top calc(50% - 220px)


		
.footer
	text-align center
	a
		display inline-block
		font-size .8em
		&:last-child
			margin-left 24px
@media only screen and (max-width 728px)
	.box
		width 88%





	